<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilce.springboot_vue.mapper.AdminMenuMapper">

    <select id="getMenuById" resultType="com.vilce.springboot_vue.model.po.AdminMenu" >
		SELECT *
		FROM admin_menu
		WHERE id = #{id}
    </select>

    <select id="findAllByParentId" resultType="com.vilce.springboot_vue.model.po.AdminMenu" >
		SELECT *
		FROM admin_menu
		WHERE parent_id = #{parentId}
    </select>

</mapper>
