<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilce.springboot_vue.mapper.BookMapper">

    <select id="getAllBooks"  resultType="com.vilce.springboot_vue.model.po.Book">
		SELECT *
		FROM book
		ORDER BY id
    </select>

    <insert id="addBook" parameterType="com.vilce.springboot_vue.model.po.Book" >
		INSERT INTO book
		(cover,title,author,date,press,abs,cid)
		VALUES (#{cover},#{title},#{author},#{date},#{press},#{abs},#{cid})
    </insert>

    <update id="updateBook" parameterType="com.vilce.springboot_vue.model.po.Book" >
		UPDATE book
		SET cover=#{cover},
		    title=#{title},
		    author=#{author},
		    date=#{date},
		    press=#{press},
		    abs=#{abs},
		    cid=#{cid}
		WHERE id=#{id}
    </update>

    <delete id="deleteBookById" >
		DELETE *
		FROM book
		WHERE id=#{id}
    </delete>

    <select id="getBooksByCategory" resultType="com.vilce.springboot_vue.model.po.Book" >
		SELECT *
		FROM book
		WHERE cid=#{cid}
		ORDER BY id
    </select>

    <select id="getBookByNameAndAuthor" resultType="com.vilce.springboot_vue.model.po.Book" >
		SELECT *
		FROM book
		WHERE title=#{title}
		AND author=#{author}
    </select>

    <select id="getCategory" resultType="com.vilce.springboot_vue.model.po.Category" >
		SELECT *
		FROM category
		WHERE id=#{cid}
    </select>

    <select id="searchBooks" resultType="com.vilce.springboot_vue.model.po.Book" >
		SELECT *
		FROM book
		WHERE title like #{keywords}
		OR author like #{keywords}
    </select>
</mapper>
