<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilce.springboot_vue.dao.UserMapper">
    <resultMap id="userMap" type="com.vilce.springboot_vue.model.po.User">
        <id column="EID" property="eid"/>
        <result column="USER_NAME" property="username"/>
        <result column="PASSWORD" property="password"/>
    </resultMap>

    <select id="getUserByNamePassword" resultMap="userMap" >
		SELECT *
		FROM vilce.users
		WHERE user_name=#{username}
		AND password=#{password}
    </select>

    <insert id="addUser" parameterType="com.vilce.springboot_vue.model.vo.request.UserReq" >
		INSERT INTO vilce.users (eid,user_name,password)
		VALUES (vilce.eid.nextval,
		        #{username},
		        #{password})
    </insert>
</mapper>