<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilce.springboot_vue.mapper.WageMapper">

    <select id="getAllWageOrder" resultType="com.vilce.springboot_vue.model.po.WageOrder">
		SELECT *
		FROM wage
		ORDER BY order_time DESC
    </select>

    <insert id="addWageOrder" parameterType="com.vilce.springboot_vue.model.po.WageOrder">
        INSERT INTO wage
        (uid, username, code, order_time, basic_wage, job_wage, benchmark_performance, standard_salary,fixed_allowance,
         technical_expert_allowance,rank_allowance,fixed_bonus,floating_bonus,total_wages,examination_allowance,
         on_off_after_leave_pay,performance_adjustment,floating_allowance,daily_overtime,sick_leave_deduction,
         late_absentee_deductions,other_increase_or_decrease,maternity_leave_deductions,
         floating_bonus2,recommendation_award,product_experience_bonus,payable,social_security,provident_fund,
         post_insurance_pay,education_for_children,home_loan,housing_rent,support_for_the_elderly,continuing_education,
         deferred_insurance,tax, paid_wages,url)
        VALUES (#{uid},#{username},#{code},#{order_time},#{basic_wage},#{job_wage},#{benchmark_performance},#{standard_salary},
        #{fixed_allowance},#{technical_expert_allowance},#{rank_allowance},#{fixed_bonus},#{floating_bonus},#{total_wages},
        #{examination_allowance},#{on_off_after_leave_pay},#{performance_adjustment},#{floating_allowance},#{daily_overtime},
        #{sick_leave_deduction},#{late_absentee_deductions},#{other_increase_or_decrease},#{maternity_leave_deductions},
        #{floating_bonus2},#{recommendation_award},#{product_experience_bonus},#{payable},#{social_security},#{provident_fund},
        #{post_insurance_pay},#{education_for_children},#{home_loan},#{housing_rent},#{support_for_the_elderly},
        #{continuing_education},#{deferred_insurance},#{tax},#{paid_wages},#{url})
    </insert>

    <update id="updateWageOrder" parameterType="com.vilce.springboot_vue.model.po.WageOrder">
        UPDATE wage
        SET uid=#{uid},
            username=#{username},
            code=#{code},
            order_time=#{order_time},
            basic_wage=#{basic_wage},
            job_wage=#{job_wage},
            benchmark_performance=#{benchmark_performance},
            standard_salary=#{standard_salary},
            fixed_allowance=#{fixed_allowance},
            technical_expert_allowance=#{technical_expert_allowance},
            rank_allowance=#{rank_allowance},
            fixed_bonus=#{fixed_bonus},
            floating_bonus=#{floating_bonus},
            total_wages=#{total_wages},
            examination_allowance=#{examination_allowance},
            on_off_after_leave_pay=#{on_off_after_leave_pay},
            performance_adjustment=#{performance_adjustment},
            floating_allowance=#{floating_allowance},
            daily_overtime=#{daily_overtime},
            sick_leave_deduction=#{sick_leave_deduction},
            late_absentee_deductions=#{late_absentee_deductions},
            other_increase_or_decrease=#{other_increase_or_decrease},
            maternity_leave_deductions=#{maternity_leave_deductions},
            floating_bonus2=#{floating_bonus2},
            recommendation_award=#{recommendation_award},
            product_experience_bonus=#{product_experience_bonus},
            payable=#{payable},
            social_security=#{social_security},
            provident_fund=#{provident_fund},
            post_insurance_pay=#{post_insurance_pay},
            education_for_children=#{education_for_children},
            home_loan=#{home_loan},
            housing_rent=#{housing_rent},
            support_for_the_elderly=#{support_for_the_elderly},
            continuing_education=#{continuing_education},
            deferred_insurance=#{deferred_insurance},
            tax=#{tax},
            paid_wages=#{paid_wages},
            url=#{url}
        WHERE id=#{id}
    </update>

    <delete id="deleteWageOrder">
        DELETE
        FROM wage
        WHERE id=#{id}
    </delete>
</mapper>
