<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilce.springboot_vue.module.secret.mapper.SecretMapper">

    <resultMap id="modulesMap" type="com.vilce.springboot_vue.module.secret.model.Modules">
        <result column="id" property="id"/>
        <result column="modules_date" property="modulesDate"/>
        <result column="modules_title" property="modulesTitle"/>
    </resultMap>

    <insert id="createModules"  useGeneratedKeys="true" keyProperty="id" parameterType="com.vilce.springboot_vue.module.secret.model.Modules" >
        INSERT secret_img_modules
        (modules_date, modules_title)
        VALUES (#{modulesDate}, #{modulesTitle})
    </insert>

    <insert id="insertImg" >
        INSERT secret_img
        (modules_id, img_url)
        VALUES (#{id}, #{imgUrl})
    </insert>

    <update id="updateModules" parameterType="com.vilce.springboot_vue.module.secret.model.Modules">
        UPDATE secret_img_modules
        SET modules_date=#{modulesDate},
            modules_title=#{modulesTitle}
        WHERE id=#{id}
    </update>

    <delete id="deleteImg">
        DELETE
		FROM secret_img
		WHERE modules_id = #{id}
    </delete>

    <delete id="deleteModules">
        DELETE
		FROM secret_img_modules
		WHERE id = #{modulesId}
    </delete>

    <select id="getModules" resultMap="modulesMap">
        SELECT *
        FROM secret_img_modules
        ORDER BY modules_date DESC
        LIMIT #{start},#{num}
    </select>

    <select id="getModulesImg" resultType="java.lang.String">
        SELECT img_url
        FROM secret_img
        WHERE modules_id = #{id}
    </select>

    <select id="countModules" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM secret_img_modules
    </select>

    <select id="findModulesById" resultMap="modulesMap">
        SELECT *
        FROM secret_img_modules
        WHERE id = #{id}
    </select>

    <select id="getNewModules" resultMap="modulesMap">
        SELECT *
        FROM secret_img_modules
        ORDER BY modules_date DESC
        LIMIT #{num}
    </select>

    <select id="getModulesASC" resultMap="modulesMap">
        SELECT *
        FROM secret_img_modules
        ORDER BY modules_date ASC
        LIMIT #{num}
    </select>
</mapper>
