<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vilce.springboot_vue.module.user.mapper.AdminPermissionMapper">

    <select id="getPermissionById" resultType="com.vilce.springboot_vue.module.user.model.po.AdminPermission" >
		SELECT *
		FROM admin_permission
		WHERE id = #{id}
    </select>

    <select id="getAllPermissions" resultType="com.vilce.springboot_vue.module.user.model.po.AdminPermission" >
		SELECT *
		FROM admin_permission
		ORDER BY id
    </select>

</mapper>
